@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/box-sizing";

.window-overlay {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  @include opacity(0.8);
}

.window-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.window {
  background: #FFF;
  padding: em(20px);
  top: 0;
  z-index: 11;
  position: absolute;
  left: 50%;
  margin-top: em(50px);
  @include box-sizing(border-box);
}

.space {
  height: em(70px);
  margin: 0 0 em(-70px) 0;
  background: transparent;
}

.clear {
  clear: both;
}
