@import "compass/reset";
@import "compass/css3/opacity";
@import "compass/css3/box-sizing";
@import "compass/css3/user-interface";

$font-size: 16px;
$line-height: 1.4em;
$deal-width: 180px;
$popup-width: 500px;

@import "responsive";
@import "common";

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  line-height: $line-height;
}

#header {
  width: 100%;
  height: em(60px);
  background: #161E27;
  color: #FFF;
}

#logo {
  text-align: center;
  font-size: em(23px);
  line-height: em(60px, 23px);
  width: 100px;
  display: inline-block;
  background: #E8330F;
}

#radius {
  @include user-select(none);
  float: right;
  display: inline-block;
  font-size: em(13px);
  background: #000;
  margin: em(20px) em(20px) 0 0;

  i {
    display: inline-block;
    padding: em(5px) em(10px) em(5px) em(10px);

    &:hover {
      cursor: pointer;
    }
  }

  input {
    margin-top: em(10px);
    display: none;
    width: 150px;
  }
}

#deals {
  margin: em(20px) auto 0 auto;
  padding-left: em(20px);
  text-align: left;
  line-height: 0;
}

.deal {
  line-height: 1em;
  display: inline-block;
  margin: 0 em(20px) em(20px) 0;
  width: $deal-width;
  height: $deal-width;
  text-align: left;
  background: #E1E8EE;

  .wrapper {
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .photo {
    width: $deal-width;
    height: $deal-width;

    img {
      width: $deal-width;
      height: $deal-width;
    }
  }

  .block {
    position: absolute;
    left: 0;
    top: 0;
    @include opacity(0.5);
    background: #161E27;
    width: $deal-width;
    height: $deal-width;
  }

  .text {
    position: absolute;
    left: 0;
    top: 0;
    font-size: em(13px);
    color: #FFF;
    width: $deal-width;
    height: $deal-width;
  }

  .name {
    background: #161E27;
    @include opacity(0.8);
    padding: em(5px) em(10px) em(5px) em(10px);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    @include box-sizing(border-box);
  }

  .left, .time, .location {
    display: inline-block;
    padding: em(3px) em(10px) em(3px) em(10px);
    background: #161E27;
    @include opacity(0.8);
  }

  .location {
    background: #E8330F;
    display: block;
  }

  .info {
    margin-bottom: em(7px);
  }

  .window {
    width: em($popup-width);
    margin-left: -(em($popup-width) / 2);
    min-height: em(400px);
  }

  .opened-photo {
    width: $deal-width;
    height: $deal-width;
    float: left;
    position: relative;
    margin-bottom: em(10px);

    img {
      width: $deal-width;
      height: $deal-width;
    }
  }

  .opened-photo-opacity {
    position: absolute;
    top: 0;
    @include opacity(0.4);
    background: #161E27;
    width: $deal-width;
    height: $deal-width;
  }

  .opened-block {
    float: right;
    width: em($popup-width - $deal-width - 50px);
  }

  .opened-name, .opened-location {
    display: inline-block;
    background: #161E27;
    color: #FFF;
    padding: em(5px);
  }

  .opened-row {
    margin-bottom: em(10px);
  }

  .opened-location {
    background: #E8330F;
  }

  .opened-description {
    margin: 0 0 em(10px) 0;
  }

  #opened-map {
    height: em(400px);
  }
}

/* Custom */
@media only screen and (max-width : 560px) {
  .deal {
    .window {
      width: 90%;
      margin-left: 0;
      left: 5%;
    }

    .opened-photo {
      float: none;
      width: 100%;
    }

    .opened-block {
      float: none;
      width: 100%;
    }
  }
}

@mixin update-deals($size, $padding) {
  #deals {
    margin: em($padding) auto 0 auto;
    padding-left: em($padding);
  }

  .deal {
    width: $size;
    height: $size;
    margin: 0 em($padding) em($padding) 0;

    .photo {
      width: $size;
      height: $size;

      img {
        width: $size;
        height: $size;
      }
    }

    .block {
      width: $size;
      height: $size;
    }

    .text {
      width: $size;
      height: $size;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 420px) {
  @include update-deals(140px, 10px);

  .deal .text {
    line-height: 1em;
  }

  #radius {
    margin: em(20px) em(10px) 0 0;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
  @include update-deals(165px, 15px);
}
