extends layout

block css
  link(rel='stylesheet', href='/public/stylesheets/customer.css')
  link(rel='stylesheet', href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css')

block js
  script
    INITIAL_DEALS = !{deals};
  script(data-main='/public/javascripts/customer.js', src='/public/javascripts/libs/require.js')
  script(src='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js')

block content
  #header
    #logo Flace
    #radius
      i
      input(type="range", step="1", min="1", max="100")
  #deals
