<div class="window-overlay">
</div>
<div class="window-wrapper">
  <div class="window">
    <div class="opened-row">
      <div class="opened-name"><%- data.get('name') %></div>
    </div>
    <div class="opened-photo">
      <div class="opened-photo-opacity"></div>
      <% if (data.get('image_url')) { %>
        <img src="<%- data.get('image_url') %>" alt="<%- data.get('name') %> photo" />
      <% } %>
    </div>
    <div class="opened-block">
      <div class="opened-row">
        <div class="opened-location"><%- data.get('business').name %></div>
      </div>
      <div class="opened-row">
        <div class="opened-address"><%- data.get('business').address %></div>
      </div>
      <div class="opened-row">
        <div class="opened-left">Offers left: <b class="left-data"><%- data.get('units_left') %></b></div>
      </div>
      <div class="opened-row">
        <div class="opened-time">Time left: <b class="time-data"><%- data.get('time_left') %></b></div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="opened-description"><%- data.get('description') %></div>
    <div id="opened-map"></div>
    <div class="space"></div>
  </div>
</div>
