<div class="wrapper">
  <div class="photo">
    <% if (data.get('image_url')) { %>
      <img src="<%- data.get('image_url') %>" alt="<%- data.get('name') %> photo" />
    <% } %>
  </div>
  <div class="block"></div>
  <div class="text">
    <div class="name"><%- data.get('name') %></div>
    <div class="info">
      <div class="location"><%- data.get('business').name %></div>
    </div>
    <div class="info">
      <div class="left"><b class="left-data"><%- data.get('units_left') %></b> offers left</div>
    </div>
    <div class="info">
      <div class="time"><b class="time-data"><%- data.get('time_left') %></b></div>
    </div>
  </div>
</div>
<div class="overlay"></div>
